# =========================
# Android / Gradle
# =========================
frontend-android/.gradle/
frontend-android/build/
frontend-android/app/build/
frontend-android/.idea/
frontend-android/*.iml

# =========================
# Spring Boot / Maven
# =========================
backend-springboot/target/

# =========================
# Environment / Secrets
# =========================
.env
*.env
**/application-local.properties
**/application-prod.properties

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db